{% extends "base.html.twig" %}

{% block title %}
    Cours - Accueil
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <p class="lead">
                Cours est une application qui va te permettre de créer
                des profs et leurs leçons ainsi que de les consulter, les modifier et les supprimer.
            </p>
            <hr class="my-4">
            <p>
                Pour commencer, rendez-vous sur la page d'inscription
                pour utiliser l'application.
            </p>
            <a class="btn btn-primary btn-lg" href="#" role="button">
                Inscription
            </a>
        </div>
    </div>
{% endblock %}

